<%= form_for(@ice_cream) do |f| %>
  <% if @ice_cream.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@ice_cream.errors.count, "error") %> prohibited this ice_cream from being saved:</h2>

      <ul>
      <% @ice_cream.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :cone_for_cup_id %><br />
    <%= f.number_field :cone_for_cup_id %>
  </div>
  <div class="field">
    <%= f.label :flavor_id %><br />
    <%= f.number_field :flavor_id %>
  </div>
  <div class="field">
    <%= f.label :extras_id %><br />
    <%= f.number_field :extras_id %>
  </div>
  <div class="field">
    <%= f.label :total_number %><br />
    <%= f.number_field :total_number %>
  </div>
  <div class="field">
    <%= f.label :user_id %><br />
    <%= f.number_field :user_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
