
<h2>Bearcat Ice Cream</h2>



<div class="row">
      <div class="span9">

      <%= form_for @ice_cream , :html => {:id => "order_form"} do |f| %>

        <fieldset>
          <legend>Cone or Cup:</legend>

           <% ConeForCup.all.each_with_index do |clone, index| %>
              <% if index == 0 %>
               <input type="radio" name="ice_cream[cone_for_cup]" value="<%= clone.id %>" checked="true" onclick ="update()" > <%= clone.name %><br>
              <% else %>
               <input type="radio" name="ice_cream[cone_for_cup]" value="<%= clone.id %>"  onclick ="update()" > <%= clone.name %><br>
              <% end %>

           <% end %>
         </fieldset>

        <br/>

        <%= f.select :flavor , options_for_select(Flavor.all.collect {|s|[ s.name, s.id]} ), {:prompt => 'Choose a flavor'}, :onChange => "update()"  %>



        <fieldset>
          <legend>Number:</legend>
            <input type="radio" name="ice_cream[total_number]" value="1" checked="true" onclick="update()" >One <br>
            <input type="radio" name="ice_cream[total_number]" value="2" onclick ="update()" >Two <br>
            <input type="radio" name="ice_cream[total_number]" value="3" onclick ="update()" >Three <br>

         </fieldset>


        <fieldset>
          <legend>Extras</legend>

           <% Extra.all.each_with_index do |clone, index| %>
               <% if index == 0 %>
                 <input type="checkbox" name="ice_cream[extra_ids][]" value="<%= clone.id %>" checked="true" onclick="update()" > <%= clone.name %><br>
               <% else %>
                  <input type="checkbox" name="ice_cream[extra_ids][]" value="<%= clone.id %>" onclick="update()"> <%= clone.name %><br>
               <% end %>
           <% end %>
         </fieldset>

        Your name: <input type="text" value="<%= current_user.login %>"> <br>

      <%= f.hidden_field :status, :value => 'pending' %>

       <%= f.submit 'Order' , :name => "ice_cream[order_submitted]", :class => 'btn' %>

     <% end %>

      <div id="order_status">

      </div>


      </div>

 </div>


<script type="text/javascript">
    function update() {

        var request = $.ajax({
            url: "<%= update_cal_ice_creams_path %>",
            type: "Post",
            data: $("#order_form").serialize(),
            dataType: "html"
        });
         request.done(function (data) {
             $('#order_status').html(data);
         });
        }

</script>



