<h1>Listing cone_for_cups</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Price</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @cone_for_cups.each do |cone_for_cup| %>
  <tr>
    <td><%= cone_for_cup.name %></td>
    <td><%= cone_for_cup.price %></td>
    <td><%= link_to 'Show', cone_for_cup %></td>
    <td><%= link_to 'Edit', edit_cone_for_cup_path(cone_for_cup) %></td>
    <td><%= link_to 'Destroy', cone_for_cup, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Cone for cup', new_cone_for_cup_path %>
