<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @cone_for_cup.name %>
</p>

<p>
  <b>Price:</b>
  <%= @cone_for_cup.price %>
</p>


<%= link_to 'Edit', edit_cone_for_cup_path(@cone_for_cup) %> |
<%= link_to 'Back', cone_for_cups_path %>
